<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ch.bfh.mad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:name=".eazytime.EazyTimeApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key" />

        <activity android:name=".eazytime.EazyTimeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".eazytime.geofence.detail.GeoFenceDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
        <activity android:name=".eazytime.projects.addProject.AddProjectActivity"/>
        <receiver android:name=".eazytime.homeScreenWidget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/my_appwidget_info"/>
        </receiver>

        <receiver
                android:name=".eazytime.homeScreenWidget.WidgetBroadCastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="ET_WIDGET_BUTTON_ONE"/>
                <action android:name="ET_WIDGET_BUTTON_TWO"/>
                <action android:name="ET_WIDGET_BUTTON_THREE"/>
                <action android:name="ET_WIDGET_BUTTON_FOUR"/>
                <action android:name="ET_WIDGET_BUTTON_FIVE"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>