<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="ch.bfh.mad">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".eazytime.EazyTimeApp"
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <service
                android:name="ch.bfh.mad.eazytime.remoteViews.notification.ScreenActionService"
                android:enabled="true"
                android:exported="true">
        </service>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="@string/google_maps_key"/>

        <activity android:name=".eazytime.EazyTimeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".eazytime.geofence.detail.GeoFenceDetailActivity"/>
        <activity android:name=".eazytime.projects.addProject.AddProjectActivity"/>

        <receiver android:name="ch.bfh.mad.eazytime.remoteViews.homeScreenWidget.WidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data
                    android:name="android.appwidget.provider"
                    android:resource="@xml/my_appwidget_info"/>
        </receiver>
        <receiver
                android:name="ch.bfh.mad.eazytime.remoteViews.RemoteViewBroadCastReceiver"
                android:exported="true">
            <intent-filter>
                <action android:name="ET_WIDGET_BUTTON_ONE"/>
                <action android:name="ET_WIDGET_BUTTON_TWO"/>
                <action android:name="ET_WIDGET_BUTTON_THREE"/>
                <action android:name="ET_WIDGET_BUTTON_FOUR"/>
                <action android:name="ET_WIDGET_BUTTON_FIVE"/>
            </intent-filter>
        </receiver>
       <receiver
                android:name="ch.bfh.mad.eazytime.remoteViews.notification.ScreenActionService$ScreenActionReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter android:priority="90000">
                <action android:name="android.intent.action.USER_PRESENT"/>
            </intent-filter>
        </receiver>
        <receiver
                android:name=".eazytime.geofence.receiver.GeoFenceReceiver"
                android:enabled="true"
                android:exported="true">
            <intent-filter>
                <action android:name=".eazytime.geofence.ACTION_RECEIVE_GEOFENCE"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".eazytime.geofence.receiver.BootReceiver"
                  android:permission="android.permission.RECEIVE_BOOT_COMPLETED"
                  android:enabled="true"
                  android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps"/>
        <uses-library
                android:name="org.apache.http.legacy"
                android:required="false"/>
    </application>

</manifest>